/* -------
Fonts
--------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*-----------
 Common styles
 ---------- */
body{
    font-family: poppins;
    background-color:  #FFFFFF;
}
/*------------ 
Header styles
-------------- */
.header{
    display: flex;
    background-color: rgb(1, 41, 1);
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    border-radius: 30px;
}
.focal-point{
    width: 50%;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 20px;
}
h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: 0;
}
.Hpara{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;

}

/* Button styles */

.button1{
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.watch-live{
    background-color: rgb(150, 177, 1);
    border: none;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    transition: 1ms;
}
.fa-angle-right{
    padding: 10px;
    align-items: center;
}
.watch-live:hover {
    background-color: rgb(1, 41, 1);
    border: 2px solid  rgb(150, 177, 1);
    color:  rgb(150, 177, 1);
    cursor: pointer;
    transition: 1ms;
    padding-left: 30px;
}
/* ------banner image style------- */

.Banner-Image{
    width: 583px;
    height: 613px;
    margin-top: 83px;
  }
/* ----Animation------ */
.ball{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(252, 17, 0);
    position: relative;
    animation: sliding 1s ease-in-out 10ms infinite alternate ;
    animation-play-state: running;
}
@keyframes sliding {
    0%{
        background-color: rgb(94, 1, 243);
        left: 0;
        top: 300px;
    }
   
    50%{
        top: 0;
        background-color: rgb(5, 255, 17);
        transform: scale(2);
        
    }
    
    100%{
        left: 1000px;
        top: 550px;
        background-color: rgb(238, 255, 0);
    }
}